@model Employees
@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Delete Employee</h1>

<form asp-action="Delete" method="post">

    <div class="my-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>

    <div class="my-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <div class="my-3">
        <label asp-for="HireDate" class="form-label"></label>
        <input asp-for="HireDate" class="form-control" type="date" readonly />
    </div>

    <div class="my-3">
        <label asp-for="CreateAt" class="form-label"></label>
        <input asp-for="CreateAt" class="form-control" type="date" readonly />
    </div>

    <div class="my-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" readonly />
    </div>

    <div class="my-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" readonly />
    </div>

    <div class="my-3">
        <label asp-for="Salary" class="form-label"></label>
        <input asp-for="Salary" class="form-control" readonly />
    </div>

    <div class="my-3 form-check">
        <input asp-for="isActive" class="form-check-input" disabled />
        <label asp-for="isActive" class="form-check-label"></label>
    </div>

    <div class="my-3 form-check">
        <input asp-for="isDeleted" class="form-check-input" disabled />
        <label asp-for="isDeleted" class="form-check-label"></label>
    </div>

    <div>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    </div>
</form>
